<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Coche</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/barra.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/agregarCoche.css">
</head>
<body style="font-family:'Poppins'" >
    <div class="sidebar sidebar1"style="z-index:60;">
        <div class="top top1">
            <div class="logo logo1">
                    <i class="bx bxs-car-mechanic">
                    </i>
                    <span>CarMinder</span>
            </div>
            <i class="bx bx-menu btnD" id="btn"></i>
        </div>
        <div class="user user1">
            <!--Se añade una imagen para mostrarse junto a la barra lateral-->
            <!--Se utiliza la clase w para dar un ancho maximo-->
            <img src="/assets/imagenes/kokomi.jpg" class="user-img ">
            <div>
                <!--Aqui se mostrara el nombre del usuario y el usuario-->
                <p class="bold bold1 sidbox"><%= user.nombre_u %></p>
            </div>
        </div>
        <!--Se crea una lista con distintos elementos. Iconos y texto que tendran funciones especificas para navegar por las distintas secciones-->
        <ul>
            <li>
                <a href="inicio ">
                    <i class="bx bxs-car"></i>
                    <span class="nav-item">Inicio</span>
            </a>
            <span class="tooltip sidbox">Panel</span>
            </li>
            <li>
                <a href="Foro">
                    <i class="bx bx-notepad"></i>
                    <span class="nav-item">Foro</span>
            </a>
            <span class="tooltip sidbox">Foro</span>
            </li>
            <li>
                <a href="Configuracion">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Configuracion</span>
            </a>
            <span class="tooltip sidbox">Configuracion</span>
            </li>
            <li>
                <a href="/cerrar-sesion">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
            <span class="tooltip sidbox">Logout</span>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="titulo">
            <h1>Agregar vehículo</h1>
            <h2 class="t2">Añade más vehículos a tu panel</h2>
        </div>
        <div class="contenido">
            <div class="subtit">                    
                <h4 class="a">Complete el formulario para continuar</h4>
                <h4 class="b">Tu vehículo</h4>
            </div>
            <div class="acbox1 acbox1h">

                <form method="post" action="/agregarCoche" class="" id="agregar_auto">
                    <br>
                    <h3>Seleccione la marca del vehículo</h3>
                    <label for="marca" class="sel">
                        <select name="marca"  id="marca">
                            <option value="Ford">Ford</option>
                            <option value="Nissan">Nissan</option>
                        </select>
                    </label><br>
                    <h3>Seleccione el modelo de su vehículo</h3>
                    <label for="modelo"  class="sel">
                        <select name="modelo"  id="modelo">
                            <!-- Aquí se generarán las opciones dinámicamente con JavaScript según la marca seleccionada -->
                        </select>
                    </label><br>
                    <h3>Kilometraje actual del coche</h3>
                    <label for="km_actual"  class="sel">
                        <select name="km_actual"  id="km_actual">
                            <option value="10000">Menos de 10,000 km</option>
                            <option value="50000">10,000-50,000 km</option>
                            <option value="100000">Más de 100,000 km</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste las llantas?</h3>
                    <label for="uc_llantas" class="sel"> 
                        <select name="uc_llantas" id="uc_llantas">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste el aceite?</h3>
                    <label for="uc_aceite" class="sel">
                        <select name="uc_aceite"  id="uc_aceite">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste los frenos?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_frenos"  id="uc_frenos">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste el líquido de frenos?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_liquido_frenos"  id="uc_liquido_frenos">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste el aceite de la dirección?</h3>
                    <label for="uc_aceite" class="sel">
                        <select name="uc_aceite_direccion"  id="uc_aceite_direccion">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste el filtro del aire?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_filtro_aire"  id="uc_filtro_aire">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste las bujías?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_bujias" id="uc_bujias">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste las correas?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_correas"  id="uc_correas">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste el filtro de combustible?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_filtro_combustible"  id="uc_filtro_combustible">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste la suspensión?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_suspension"  id="uc_suspension">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>
                    <h3>¿Cuándo fue la última vez que cambiaste el líquido de transmisión?</h3>
                    <label for="uc_llantas" class="sel">
                        <select name="uc_liquido_transmision"  id="uc_liquido_transmision">
                            <option value="1">Menos de un mes</option>
                            <option value="3">Menos de 3 meses</option>
                            <option value="5">Menos de 5 meses</option>
                            <option value="7">Menos de 7 meses</option>
                            <option value="9">Menos de 9 meses</option>
                            <option value="11">Menos de 11 meses</option>
                            <option value="0">No lo recuerdo</option>
                        </select>
                    </label><br>

                    <div class="buttondiv">
                        <button type="submit" class="buttonag">Agregar</button>
                    </div>
                </form>
            </div>
            <div class="acbox2 acbox2h">
                <div>
                    <img id="auto" class="imagen" src="">
                    <h1></h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        let modeloSelect = document.getElementById("modelo");
        let autoImage = document.getElementById("auto");
        let btn = document.querySelector('#btn')
        let sidebar = document.querySelector('.sidebar')
    
        btn.onclick = function (){
            sidebar.classList.toggle('active')
        };
    
        document.getElementById("marca").addEventListener("change", function () {
            // Limpiar las opciones actuales
            while (modeloSelect.firstChild) {
                modeloSelect.removeChild(modeloSelect.firstChild);
            }
    
            // Obtener el valor seleccionado de la marca
            let marca = this.value;
    
            // Mostrar la imagen y la información del coche solo si se selecciona una marca
            if (marca) {
                // Mostrar modelos correspondientes a la marca
                cargarModelos(marca);
    
                // Actualizar la imagen y la información del auto
                autoImage.src = `/assets/imagenes/Vehiculos automotrices/${marca} ${modeloSelect.value}.jpg`;
                document.querySelector(".acbox2h h1").innerText = `${marca} ${modeloSelect.value}`;
                document.querySelector(".acbox2h p").innerText = "Información adicional del coche...";
            } else {
                // Limpiar la imagen y la información del coche si no se selecciona ninguna marca
                autoImage.src = "";
                document.querySelector(".acbox2h h1").innerText = "";
                document.querySelector(".acbox2h p").innerText = "";
            }
        });
    
        document.getElementById("modelo").addEventListener("change", function () {
            // Actualizar la imagen y la información del auto cuando se selecciona un modelo
            autoImage.src = `/assets/imagenes/Vehiculos automotrices/${document.getElementById("marca").value} ${this.value}.jpg`;
            document.querySelector(".acbox2h h1").innerText = `${document.getElementById("marca").value} ${this.value}`;
            document.querySelector(".acbox2h p").innerText = "Información adicional del coche...";
        });
    
        // Función para cargar modelos según la marca
        function cargarModelos(marca) {
            switch (marca) {
                case "Ford":
                    agregarModelo("Ranger");
                    agregarModelo("Figo");
                    agregarModelo("Escape");
                    agregarModelo("Focus");
                    agregarModelo("Mustang");
                    agregarModelo("Fusion");
                    agregarModelo("Explorer");
                    agregarModelo("Fiesta");
                    agregarModelo("Edge");
                    agregarModelo("Expedition");
                    break;
                case "Nissan":
                    agregarModelo("Sentra");
                    agregarModelo("Tsuru");
                    agregarModelo("Platina");
                    agregarModelo("Versa");
                    agregarModelo("Altima");
                    agregarModelo("March");
                    agregarModelo("Tiida");
                    agregarModelo("Aprio");
                    agregarModelo("X-Trail");
                    agregarModelo("NP 300");
                    break;
                // Agrega más casos según las marcas que tengas
            }
        }
    
        // Función para agregar un modelo al select
        function agregarModelo(modelo) {
            let option = document.createElement("option");
            option.value = modelo;
            option.text = modelo;
            modeloSelect.appendChild(option);
        }
    
        // Trigger change event para inicializar las opciones de modelos
        document.getElementById("marca").dispatchEvent(new Event("change"));
    </script>
    
    </body>
    </html>
    