<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TailwindCSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/estilos.css"/> 
</head>
<body class="m-0 p-0 box-border">
    <div class="sidebar  ">
        <div class="top">
            <div class="logo">>
                    <i class="bx bxs-car-mechanic">
                    </i>
                    <span>CarMinder</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <img src="imagenes/kokomi.jpg" class="user-img w-14 rounded-full border-sky-950">
            <div>
                <p class="bold">Clint B</p>
                <p>Admin</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Barra</span>
            </a>
            <span class="tooltip">Barra</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-home"></i>
                    <span class="nav-item">Inicio</span>
            </a>
            <span class="tooltip">Inicio</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-car"></i>
                    <span class="nav-item">Panel</span>
            </a>
            <span class="tooltip">Panel</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-user"></i>
                    <span class="nav-item">Cuenta</span>
            </a>
            <span class="tooltip">Cuenta</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-notepad"></i>
                    <span class="nav-item">Foro</span>
            </a>
            <span class="tooltip">Foro</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Ayuda</span>
            </a>
            <span class="tooltip">Ayuda</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
            </li>
            



        </ul>
    </div>
    <div class="main-content">
        <div class="container ml-32">
            <h1>Code Commerce</h1>
            <h1>ROBERTÍN NO HACE NADA</h1>
        </div>
    </div>
</body>
<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function (){
        sidebar.classList.toggle('active')
    };
</script>
</html>