<!DOCTYPE html>
<html lang="es">
 <head>
<!--en head se incluyen dependencias del archivo. Como lo son los archivos de estilos, fuentes de texto u otros.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarMinder</title>
    <link rel="website icon" type="png" href="/assets/imagenes/iconos/RIN.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/logster.css">
</head>

<body style="font-family:'Poppins';">
    <section>
        <header>
            <nav class="navbar">
                <span class="hamburger-btn material-symbols-rounded">menú</span>
                <a href="CarMinder.ejs" class="logo">
                    <i class="bx bxs-car-mechanic"></i>
                    <h2>CarMinder</h2>
                </a>
                <ul class="links">
                    <span class="close-btn material-symbols-rounded">close</span>
                </ul>
                <button class="login-btn">Iniciar sesión</button>
            </nav>
        </header>
   
    <div class="blur-bg-overlay"></div>
    <div class="form-popup">
        <i class="close-btn bx bx-x"></i>
        <div class="form-box login">
            <div class="form-details">
                <h2>Bienvenido de vuelta</h2>
                <p>Inicia sesión para revisar el estado de tus autos</p>
            </div>

        <div class="form-content">
            <form method="POST" action="/login" id="loginForm">    
                <h2>Inicia sesión</h2>
                    <div class="input-field">
                        <input type="text" id="correo_u" name="correo_u" required>
                        <label for="correo_u">Correo electrónico</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="contraseña_u" name="contraseña_u" required>
                        <label for="contraseña_u">Contraseña</label>
                    </div>
                <a href="#" class="forgot-pass-link">¿Olvidaste tu contraseña?</a>
                <br> <button type="submit" class="button rounded-md mb-5 px-10 py-3 duration-700 hover:bg-slate-400 shadow-lg mt-4">Iniciar sesión</button>
            </form>
            <div class="bottom-link">¿No tienes una cuenta? <a href="#" id="signup-link">Registrate</a></div>
        </div>
        
        </div>
        <div class="form-box signup">
            <div class="form-details">
                <h2>Crear una cuenta</h2>
                <p>Para conocer el estado de tus autos es necesario que crees una cuenta y registres tus autos.</p>
            </div>
            <div class="form-content">
                <form method="POST" action="/register" id="registerForm" onsubmit="return validateForm()">
                    <h2>Regístrate</h2>
                    <div class="input-field">
                        <input type="text" id="nombre_u" name="nombre_u" required>
                        <label for="nombre_u">Nombre</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="apellido_u" name="apellido_u" required>
                        <label for="apellido_u">Apellido</label>
                    </div>
                    <div class="input-field">
                        <input type="email" id="correo_u" name="correo_u" required>
                        <label for="correo_u">Correo electrónico</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="contraseña_u" name="contraseña_u" required>
                        <label for="contraseña_u">Contraseña</label>
                    </div>
                    <button type="submit">Registrarse</button>
                </form>
                <div class="bottom-link">
                    ¿Ya tienes una cuenta? 
                    <a href="#" id="login-link">Inicia sesión</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
        <div class="box-container">
            <h3 data-text="Bienvenido a Carminder">Bienvenido a CarMinder</h3>
            <p>Imagina un lugar donde puedes obtener información precisa y oportuna sobre el estado de las partes clave de tu auto. 
            En Carminder, hacemos eso posible.</p>
        </div>
    </section>
    <section class="row">
        <div class="col-qstns">
            <img src="/assets/imagenes/aceite.jpg">
            
            <div class="layer">
                <h4>¿Preocupado por el cambio de aceite?</h4>
            </div>
        </div>
        <div class="col-qstns">
            <img src="/assets/imagenes/llantas.jpg">
            
            <div class="layer">
                <h4>¿Preocupado por el cambio de llantas?</h4>
            </div>
        </div>
        <div class="col-qstns">
            <img src="/assets/imagenes/frenos.jpg">
            
            <div class="layer">
                <h4>¿Preocupado por el cambio de frenos?</h4>
            </div>
        </div>
    </section>
</body>
<footer class="footer">
    <div class="socialIcons">
        <a href=""><i class='bx bxl-facebook-circle' ></i></a>
        <a href=""><i class='bx bxl-instagram' ></i></a>
        <a href=""><i class='bx bxl-twitter' ></i></a>
        <a href=""><i class='bx bxl-github' ></i></a>
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2023; Design by <span class="designer">CarMinder</span></p>
    </div>
</footer>
<!--Se crea un script en el cual se le establecen distintas propiedades y comportamientos a la barra lateral de la página-->
<script>
const navbarMenu = document.querySelector(".navbar .links");
const hamburgerBtn = document.querySelector(".hamburger-btn");
const hideMenuBtn = navbarMenu.querySelector(".close-btn");
const showPopupBtn = document.querySelector(".login-btn");
const formPopup = document.querySelector(".form-popup");
const hidePopupBtn = formPopup.querySelector(".close-btn");
const signupLoginLink = formPopup.querySelectorAll(".bottom-link a");
// Show mobile menu
hamburgerBtn.addEventListener("click", () => {
    navbarMenu.classList.toggle("show-menu");
});
// Hide mobile menu
hideMenuBtn.addEventListener("click", () =>  hamburgerBtn.click());
// Show login popup
showPopupBtn.addEventListener("click", () => {
    document.body.classList.toggle("show-popup");
});
// Hide login popup
hidePopupBtn.addEventListener("click", () => showPopupBtn.click());
// Show or hide signup form
signupLoginLink.forEach(link => {
    link.addEventListener("click", (e) => {
        e.preventDefault();
        formPopup.classList[link.id === 'signup-link' ? 'add' : 'remove']("show-signup");
    });
});
</script>

</html> 