<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/styles.css"/> 
    <link rel="stylesheet" href="/assets/barra.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body class="font-Gabarito">
    <div class="sidebar" style="height: 150%;">
        <div class="top">
            <div class="logo">>
                    <i class="bx bxs-car-mechanic">
                    </i>
                    <span>CarMinder</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <!--Se añade una imagen para mostrarse junto a la barra lateral-->
            <!--Se utiliza la clase w para dar un ancho maximo-->
            <img src="/assets/imagenes/kokomi.jpg" class="user-img w-14 rounded-full border-sky-950">
            <div>
                <!--Aqui se mostrara el nombre del usuario y el usuario-->
                <p class="bold">Clint B</p>
                <p>Admin</p>
            </div>
        </div>
        <!--Se crea una lista con distintos elementos. Iconos y texto que tendran funciones especificas para navegar por las distintas secciones-->
        <ul>
        </li>
        <li>
            <a href="inicio">
                <i class="bx bxs-car"></i>
                <span class="nav-item">Inicio</span>
        </a>
        <span class="tooltip">Inicio</span>
        </li>
        
        <li>
            <a href="#">
                <i class="bx bx-notepad"></i>
                <span class="nav-item">Foro</span>
        </a>
        <span class="tooltip">Foro</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="nav-item">Ayuda</span>
        </a>
        <span class="tooltip">Ayuda</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-log-out"></i>
                <span class="nav-item">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
        </li>
    </ul>
    </div>
    <div class="main-content bg-sky-700">
        <div class="flex-auto">
            <h1 class="text-4xl underline">Configuración</h1>
            <br>
            <h2 class="text-3xl mb-16">Seguridad</h2>
            <h3 class="text-2xl">Cambiar contraseña</h3>
            <div class="mt-6">
                <form method="post">
                    <label for="">Contraseña</label>
                    <br class="">
                    <input type="text" class="rounded-md my-12">
                    <br>
                    <label for="">Nueva contraseña</label>
                    <br>
                    <input type="text"class="rounded-md">
                    <button type="submit" class="rounded-md"></button>

                </form>
                <h3 class="text-2xl mt-8">Cambiar Email</h3>
                <div class="mt-6">
                    <form method="post">
                        <label for="">Email</label>
                        <br>
                        <input type="text" class="rounded-md">
                        <br>
                        <label for="">Nuevo Email</label>
                        <br>
                        <input type="text" class="rounded-md">
                        <button type="submit" class="rounded-md"></button>
    
                    </form>
                <h3 class="text-2xl mt-8">Cambiar télefono</h3>
                <div class="mt-6">
                    <form method="post">
                        <label for="">Télefono</label>
                        <br>
                        <input type="double" class="rounded-md">
                        <br>
                        <label for="">Nuevo télefono</label>
                        <br>
                        <input type="double"class="rounded-md">
                        <button type="submit"></button>
        
                    </form>
                
            </div>

        </div>
    </div>

<body>
    
</body>
<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')
    btn.onclick = function (){
        sidebar.classList.toggle('active')};
</script>
</html>