<!DOCTYPE html>
<html lang="es">
 <head>
<!--en head se incluyen dependencias del archivo. Como lo son los archivos de estilos, fuentes de texto u otros.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Minder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/styles.css"/> 
    <link rel="stylesheet" href="./styles/barra.css"/>

</head>
<!--Se incluye la clase font que indica la fuente de texto a utilizar.-->
<!--La clase m indica el tamaño del margen-->
<!--La clase p indica el padding -->
<!--box-border da un limite a los elementos dentro-->
<body class="font-Gabarito  m-0 p-0 box-border">
    <!--Se declara la clase sidebar cuyas propiedades y clases internas se establecen en el archivo barra.css-->
    <!--Se utilizan div para agrupar contenidos y separarlos de otros-->
    <div class="sidebar ">
        <div class="top">
            <div class="logo">>
                    <i class="bx bxs-car-mechanic">
                    </i>
                    <span>CarMinder</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <!--Se añade una imagen para mostrarse junto a la barra lateral-->
            <!--Se utiliza la clase w para dar un ancho maximo-->
            <img src="imagenes/kokomi.jpg" class="user-img w-14 rounded-full border-sky-950">
            <div>
                <!--Aqui se mostrara el nombre del usuario y el usuario-->
                <p class="bold">Clint B</p>
                <p>Admin</p>
            </div>
        </div>
        <!--Se crea una lista con distintos elementos. Iconos y texto que tendran funciones especificas para navegar por las distintas secciones-->
        <ul>
            <li>
                <!--Se utiliza la etiqueta a junto a href para indicar un redireccionamiento a la sección indicada-->
                <a href="#">
                    <i class="bx bxs-grid-alt"></i><!--Estas clases importan iconos de ionicons-->
                    <span class="nav-item">Barra</span>
            </a>
            <span class="tooltip">Barra</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-home"></i>
                    <span class="nav-item">Inicio</span>
            </a>
            <span class="tooltip">Inicio</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-car"></i>
                    <span class="nav-item">Panel</span>
            </a>
            <span class="tooltip">Panel</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-user"></i>
                    <span class="nav-item">Cuenta</span>
            </a>
            <span class="tooltip">Cuenta</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-notepad"></i>
                    <span class="nav-item">Foro</span>
            </a>
            <span class="tooltip">Foro</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Ayuda</span>
            </a>
            <span class="tooltip">Ayuda</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
            </li>
            



        </ul>
    </div>
    <!-- Aquí se inicia el apartado del cuerpo del contenido de la página-->
    <div class="main-content duration-500"><!-- Se asigna la clase main-content que incluye propiedades en css para la misma. Se incluye la clase duration que añade una transición al contenido -->
        <div>
            <div class=" flex container  mt-6 px-5 mx-auto duration-500 bg-slate-950/50 rounded- text-slate-200 py-2">
                <div class=" text-white">
                     <h1 class="text-2xl">Bienvenido a CarMinder</h1>
                     <p class="text-xl">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, quisquam labore, recusandae quae ullam laudantium, et qui ipsum omnis autem praesentium enim ducimus. Officiis harum, laborum reprehenderit mollitia recusandae facere.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, ut, eos tempora officiis consectetur nemo maxime eum accusamus quaerat esse atque officia, sunt vel minus cumque aliquam. Id, ipsa distinctio!
                        Quasi dignissimos quos sint non, quae autem cumque minima facere earum culpa aut reprehenderit, quas sunt sapiente dolores, expedita eum quod. Facilis, reprehenderit! Error quos modi autem. Reprehenderit, veritatis magnam!
                        Amet ipsa, optio odio suscipit temporibus laudantium aspernatur quibusdam veritatis veniam omnis, rem fugiat animi sunt atque sequi et libero illo necessitatibus deleniti quam alias, officiis nobis. Quis, dignissimos impedit?
                        Aspernatur maxime iste quam vero atque corrupti distinctio vitae cumque numquam? Excepturi, facilis dignissimos natus quis eos vero alias odio ad asperiores nisi esse assumenda necessitatibus culpa, labore cumque aliquid.
                        Rerum voluptate consequuntur error id. Facere nulla dicta minima consequatur earum quasi, tenetur perferendis similique illo qui deserunt fuga officia eligendi dolorum aperiam! Vel nihil fuga mollitia, consequuntur maiores harum.
                     </p>
                </div> 
        </div>
        <!-- Aquí comienzan las etiquetas para los formularios de login y registro-->
        <div class=" sm:w-[70%] md:w-[70%] lg:w-[70%]   text-xl bold container  mt-12 md:flex mx-auto  bg-black  duration-500  rounded-md text-center ">
            <!-- Se añaden clases para establecer un limite al area, usando las clases sm-md-lg que declaran ciertas propiedades segun el tamaño de la pantalla. Se declaran colores de fondo con la clase bg.
            Rounded: Establece bordes redondos.     Text-"": Establece la alineación del texto.     mx-auto: Da un margen en el eje X segun el espacio disponible -->
            <div class=" text-center  bg-blue-300 flex-auto px-10"><!--Se declara la clase px para dar un padding en el eje X -->
                    <div class="">
                        <!-- Se inicia un formato de form en el que incluiremos entradas de datos por parte del usuario. Para el apartado registro-->
                        <form class="bg-blue-300 py-5" method="post" action="/register">
                            <!-- Se utilizan las etiquetas label para asociar un elemento de formulario con un texto -->
                            <!-- Se utiliza la etiquete input para permitir una entrada de datos por parte del usuario--><!---->
                            <!--Se declaran IDs a los distinto datos entrantes, ya sean registrados o por registrar-->  
                            <h1 class=" mb-5">Registrarse</h1>
                            <label for="nombre_u"  class="block text-xl text-white">Nombre</label>
                            <input type="text" id="nombre_u" class="rounded-md shadow-lg px-4 py-2 mt-4 ">

                            <label for="apellido_u"  class="block text-xl mt-4 text-white">Apellido</label>
                            <input type="text" id="apellido_u" class="rounded-md shadow-lg px-4 py-2 mt-4 ">

                            <label for="correo_u"  class="block text-xl mt-4 text-white">Email</label>
                            <input type="text" id="correo_u" class="rounded-md shadow-lg px-4 py-2 mt-4 ">

                            <label for="usuario"  class="block text-xl mt-4 text-white">Nombre de usuario</label>
                            <input type="text" id="usuario" class="rounded-md shadow-lg px-4 py-2 mt-4 ">

                            <label for="contraseña_u"  class="block text-xl mt-4 text-white">Contraseña</label>
                            <input type="text" id="contraseña_u" class="rounded-md shadow-lg px-4 py-2 mt-4 ">
                            
                            <label for="iniciar"  class="block  text-xl mt-4"></label>
                            <button type="submit" class=" bg-slate-500  rounded-md px-10 py-3 duration-700 hover:bg-slate-400 shadow-lg mt-4">Registrarse</button>
                    
                        </form>
                    </div>
              
            </div>
             <!-- Se inicia un formato de form en el que incluiremos entradas de datos por parte del usuario. Para el apartado iniciar sesión-->
            <!-- Se utilizan las etiquetas label para asociar un elemento de formulario con un texto -->
            <!-- Se utiliza la etiquete input para permitir una entrada de datos por parte del usuario-->
            <div class=" bg-emerald-600 px-10 align-middle py-28 flex-auto ">
                <h1 class=" bg-emerald-600 text-center py-5">Iniciar sesión</h1>
                    <label for="username"  class="block text-xl text-white">Usuario</label>
                    <input type="text" id="username" class="rounded-md shadow-lg px-4 py-2 mt-4 ">
                    <label for="password"  class="block text-xl mt-4 text-white">Contraseña</label>
                    <input type="text" id="password" class="rounded-md px-4 py-2 shadow-lg mt-4">
                    <label for="iniciar"  class="block  text-xl mt-4"></label>
                    <button type="submit" class=" bg-slate-500  rounded-md px-10 py-3 duration-700 hover:bg-slate-400 shadow-lg mt-4"> Iniciar</button>
            </div>
        </div>

    </div>
   
    
 

    
</body>
<!--Se crea un script en el cual se le establecen distintas propiedades y comportamientos a la barra lateral de la página-->
<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function (){
        sidebar.classList.toggle('active')
    };
</script>
</html> 