<!DOCTYPE html>
<html lang="es">
 <head>
<!--en head se incluyen dependencias del archivo. Como lo son los archivos de estilos, fuentes de texto u otros.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/barra.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body class="font-Gabarito">
    <div class="sidebar">
        <div class="top">
            <div class="logo">>
                    <i class="bx bxs-car-mechanic">
                    </i>
                    <span>CarMinder</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <!--Se añade una imagen para mostrarse junto a la barra lateral-->
            <!--Se utiliza la clase w para dar un ancho maximo-->
            <img src="/assets/imagenes/kokomi.jpg" class="user-img w-14 rounded-full border-sky-950">
            <div>
                <!--Aqui se mostrara el nombre del usuario y el usuario-->
                <p class="bold">Clint B</p>
                <p>Admin</p>
            </div>
        </div>
        <!--Se crea una lista con distintos elementos. Iconos y texto que tendran funciones especificas para navegar por las distintas secciones-->
        <ul>
            <li>
                <a href="inicio">
                    <i class="bx bxs-car"></i>
                    <span class="nav-item">Inicio</span>
            </a>
            <span class="tooltip">Panel</span>
            </li>
            <li>
                <a href="Foro">
                    <i class="bx bx-notepad"></i>
                    <span class="nav-item">Foro</span>
            </a>
            <span class="tooltip">Foro</span>
            </li>
            <li>
                <a href="Configuracion">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Configuracion</span>
            </a>
            <span class="tooltip">Configuracion</span>
            </li>
            <li>
                <a href="/cerrar-sesion">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
            <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>
    </div>
    <!-- Aquí se inicia el apartado del cuerpo del contenido de la página-->
    <div class="main-content flex-auto duration-500">
        <div> <h1 class=" flex-auto container mx-10 text-3xl text-center duration-500 bg-slate-950/50 rounded- text-black bold py-2">Aquí van tus coches</h1>
            <a href="agregarCoche"> <button class="bg-sky-950 m-4 flex left-0 rounded-md text-center p-2 text-white hover:bg-sky-800">Agregar coche</button></a>
        </div>
        <div class="flex">
            <% coches.forEach(coche => { %>
                <div class="flex justify-between m-4">
                    <div class="bg-white rounded-lg shadow-lg p-4 h-50 w-72">
                        <% if (coche.ruta_imagen) { %>
                            <img src="<%= coche.ruta_imagen %>" alt="Imagen del coche" class="w-50 mx-auto rounded-xl">
                        <% } else { %>
                            <p>Imagen no disponible</p>
                        <% } %>
                        <a href="#" class="block w-full bg-sky-700 hover:bg-sky-950 text-white text-center py-2 mt-4 rounded-full duration-500"><%= coche.nombre %></a>
                    </div>
                </div>
            <% }); %>
        </div>        
    </div>

    <script>
        let btn = document.querySelector('#btn')
        let sidebar = document.querySelector('.sidebar')
    
        btn.onclick = function (){
            sidebar.classList.toggle('active')
        };
    </script>
</body>
</html> 