<!DOCTYPE html>
<html lang="es">
 <head>
<!--en head se incluyen dependencias del archivo. Como lo son los archivos de estilos, fuentes de texto u otros.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<!--Se incluye la clase font que indica la fuente de texto a utilizar.-->
<!--La clase m indica el tamaño del margen-->
<!--La clase p indica el padding -->
<!--box-border da un limite a los elementos dentro-->
<body class="font-Gabarito  m-0 p-0 box-border">
    <!--Se declara la clase sidebar cuyas propiedades y clases internas se establecen en el archivo barra.css-->
    <!--Se utilizan div para agrupar contenidos y separarlos de otros-->
    <!-- Aquí se inicia el apartado del cuerpo del contenido de la página-->
    <div class="main-content duration-500"><!-- Se asigna la clase main-content que incluye propiedades en css para la misma. Se incluye la clase duration que añade una transición al contenido -->
        <div>
            <div class=" flex container  mt-6 px-5 mx-auto duration-500 bg-slate-950/50 rounded- text-slate-200 py-2">
                <div class=" text-white">
                     <h1 class="text-2xl">Bienvenido a CarMinder</h1>
                     <p class="text-xl">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, quisquam labore, recusandae quae ullam laudantium, et qui ipsum omnis autem praesentium enim ducimus. Officiis harum, laborum reprehenderit mollitia recusandae facere.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, ut, eos tempora officiis consectetur nemo maxime eum accusamus quaerat esse atque officia, sunt vel minus cumque aliquam. Id, ipsa distinctio!
                        Quasi dignissimos quos sint non, quae autem cumque minima facere earum culpa aut reprehenderit, quas sunt sapiente dolores, expedita eum quod. Facilis, reprehenderit! Error quos modi autem. Reprehenderit, veritatis magnam!
                        Amet ipsa, optio odio suscipit temporibus laudantium aspernatur quibusdam veritatis veniam omnis, rem fugiat animi sunt atque sequi et libero illo necessitatibus deleniti quam alias, officiis nobis. Quis, dignissimos impedit?
                        Aspernatur maxime iste quam vero atque corrupti distinctio vitae cumque numquam? Excepturi, facilis dignissimos natus quis eos vero alias odio ad asperiores nisi esse assumenda necessitatibus culpa, labore cumque aliquid.
                        Rerum voluptate consequuntur error id. Facere nulla dicta minima consequatur earum quasi, tenetur perferendis similique illo qui deserunt fuga officia eligendi dolorum aperiam! Vel nihil fuga mollitia, consequuntur maiores harum.
                     </p>
                </div> 
        </div>
        <!-- Aquí comienzan las etiquetas para los formularios de login y registro-->
        <div class=" sm:w-[70%] md:w-[70%] lg:w-[70%]   text-xl bold container  mt-12 md:flex mx-auto    duration-500  rounded-md text-center ">
            <!-- Se añaden clases para establecer un limite al area, usando las clases sm-md-lg que declaran ciertas propiedades segun el tamaño de la pantalla. Se declaran colores de fondo con la clase bg.
            Rounded: Establece bordes redondos.     Text-"": Establece la alineación del texto.     mx-auto: Da un margen en el eje X segun el espacio disponible -->
            <!-- Se inicia un formato de form en el que incluiremos entradas de datos por parte del usuario. Para el apartado iniciar sesión-->
            <!-- Se utilizan las etiquetas label para asociar un elemento de formulario con un texto -->
            <!-- Se utiliza la etiquete input para permitir una entrada de datos por parte del usuario-->
            <div class=" bg-sky-800 px-10 align-middle py-16 flex-auto ">
                <form method="POST" action="/login">
                    <h2 class=" bg-sky-800 text-center text-4xl  mb-5  py-5">Iniciar sesión</h2>
                    <label for="correo_u" class="block text-xl mt-12 text-white">Correo electrónico</label>
                    <input type="text" id="correo_u" name="correo_u" class="rounded-md shadow-lg px-4 py-2 mt-4">
                    <label for="contraseña_u" class="block text-xl mt-4 text-white">Contraseña</label>
                    <input type="password" id="contraseña_u" name="contraseña_u" class="rounded-md px-4 py-2 shadow-lg mt-4">
                    <br> <button type="submit" class="bg-slate-500 rounded-md mb-5 px-10 py-3 duration-700 hover:bg-slate-400 shadow-lg mt-4">Iniciar sesión</button>
                    <p><a class=" text-white hover:text-sky-400 duration-500" href="register">¿No tienes una cuenta? Registrate</a></p>
                    </form>                
            </div>
        </div>
    </div>
</body>
<!--Se crea un script en el cual se le establecen distintas propiedades y comportamientos a la barra lateral de la página-->
<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')
    btn.onclick = function (){
        sidebar.classList.toggle('active')};
</script>
</html> 