<!DOCTYPE html>
<html lang="es">
<head>
    <!--en head se incluyen dependencias del archivo. Como lo son los archivos de estilos, fuentes de texto u otros.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/styles.css"/> 
</head>
    <div class=" text-center  bg-blue-300 flex-auto px-10"><!--Se declara la clase px para dar un padding en el eje X -->
        <div class="">
            <!-- Se inicia un formato de form en el que incluiremos entradas de datos por parte del usuario. Para el apartado registro-->
            <form class="bg-blue-300 py-5" method="post" action="/register">
            <!-- Se utilizan las etiquetas label para asociar un elemento de formulario con un texto -->
            <!-- Se utiliza la etiquete input para permitir una entrada de datos por parte del usuario--><!---->
            <!--Se declaran IDs a los distinto datos entrantes, ya sean registrados o por registrar-->  
                <h1 class=" mb-5">Registrarse</h1>
                <label for="nombre_u" class="block text-xl text-white">Nombre</label>
                <input type="text" id="nombre_u" name="nombre_u" class="rounded-md shadow-lg px-4 py-2 mt-4">
                <label for="apellido_u" class="block text-xl mt-4 text-white">Apellido</label>
                <input type="text" id="apellido_u" name="apellido_u" class="rounded-md shadow-lg px-4 py-2 mt-4">
                <label for="correo_u" class="block text-xl mt-4 text-white">Email</label>
                <input type="text" id="correo_u" name="correo_u" class="rounded-md shadow-lg px-4 py-2 mt-4">
                <label for="contrase単a_u" class="block text-xl mt-4 text-white">Contrase単a</label>
                <input type="password" id="contrase単a_u" name="contrase単a_u" class="rounded-md shadow-lg px-4 py-2 mt-4">
                <label for="iniciar"  class="block  text-xl mt-4"></label>
                <button type="submit" class="bg-slate-500 rounded-md px-10 py-3 duration-700 hover-bg-slate-400 shadow-lg mt-4">Registrarse</button>
            </form>
        </div>
    </div>
    <footer class=" flex-auto bg-gradient-to-t min-w-full from-sky-600 to-sky-500">
    <nav class="flex justify-between object-bottom items-center mx-auto">Footer</nav>

    </footer>
</body>
</html>