.logster{
    background-image: url('/assets/imagenes/logster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
  


    
}
.superpuesto {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-190%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    outline: none;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 67px;
}

.button{
    background-color: #284D1E;
}
.cont{
    position: relative;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;

}
.contenedorlog{
    position: relative;
    z-index: 1;


}
.forimg{
    width: 280px;
    margin: 8px;
}