.logster{
    background-image: url(/assets/imagenes/logster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    top:0;
    left:0;
    position: absolute;

    

  


    
}
.superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    z-index: 1; /* Asegura que esté sobre la imagen de fondo */
}
.cont{
    position: relative;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;

}
.contenedorlog{
    position: relative;
    z-index: 1;


}
.forimg{
    width: 280px;
    margin: 8px;
}